html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  background-color: white;
  /* background-color: rgba(232, 188, 243, 0.171) !important; */
}
.navbar-brand {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 15px;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Ibarra Real Nova', serif;
}
/* ID FOR NAV LINKS */
#navbarNav {
  padding-left: 380px;
}
/* NAV LINKS */
.nav-item {
  float: right;
  padding: 10px;
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Ibarra Real Nova', serif;
  /* font-family: 'Alegreya', serif; */
}
.nav-item:hover {
  font-weight: bold;
}

/* HEADER */
.header {
  position: relative;
}
.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
}
.description{
  position: absolute;
  top: 80%;
  left: 50%;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Ibarra Real Nova', serif;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
}
img { 
  width: 100%;
  height: 570px;
  margin-bottom: 0px;
  border-radius: 4px;
}

/* BIO */
.title {
  font-size: 45px;
  margin-bottom: 30px;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Ibarra Real Nova', serif;
  color: black;
  letter-spacing: 1.5px;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
}
.about {
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 17px;
  line-height: 23px;
  background-color: white;
}
.bio {
  /* border-left: solid 2px rgb(95, 10, 95); */
  /* border-right: solid 2px rgb(95, 10, 95); */
  color: black;
  padding: 20px 60px 20px 60px;
  margin-bottom: 30px;
}
.textquote {
  margin-top: 30px;
  font-family: 'Ibarra Real Nova', serif;
  color: black;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}
.barack {
  font-family: 'Ibarra Real Nova', serif;
  float: right;
  font-size: 25px;
  line-height: 0px;
  padding-right: 20px;
}
.quote {
  margin-bottom: 60px;
}
#headshot {
  width: 300px;
  height: auto;
  /* margin-bottom: 20px; */
  border-radius: 2px;
}
.photog {
  font-size: 10px;
  /* margin-top: 5px; */
}
p {
  margin-bottom: 0px;
}
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}
.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* STATEMENT */
.statement {
  margin-bottom: 70px;
  align-content: center;
  text-align: center;
}
#photo1 {
  padding-top: 50px;
  width: 300px;
  height: auto;
  border-radius: 4px;
}
.pic3 {
  padding-top: 50px;
  width: 300px;
  height: auto;
  border-radius: 4px;
}
.state {
  padding: 40px 0px 40px 0px;
  font-size: 17px;
  text-align: justify;
  word-spacing: .5px;
  line-height: 23px;
  font-family: 'Frank Ruhl Libre', serif;
}
.click {
  font-style: italic;
  padding-left: 275px;
  font-size: 15px;
  color: gray;
}
.click:hover {
  color:gray;
}
.line2 {
  width: 80%;
  background-color: rgba(128, 0, 128, 0.212) !important;
  height: 1px !important; 
}

/* PARALLAX */
.parallax {
  /* The image used */
  background-image: url("images/DB_201467\ copy.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DANCE WORK */
.title2 {
  background-color: rgb(117, 38, 148);
  height: 300px;  
}
.title3 {
  font-size: 50px;
  padding-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Ibarra Real Nova', serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.8px;
}
.choreo {  
  text-align: center;
  padding: 20px 80px 20px 80px;
  /* padding: 70px; */
  align-content: center; 
  background-color: white;
}
.videotext {
  /* font-family: 'Frank Ruhl Libre', serif; */
  font-family: 'Ibarra Real Nova', serif;
  /* margin-top: 10px; */
  margin-bottom: 40px;
  font-size: 18px;
  /* font-weight: bolder; */
}
.video {
  margin-bottom: 5px;
}
.performance {
  text-align: center;
}

/* CONTACT */
.contact {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: 'Ibarra Real Nova', serif;
}
#contact {
  background-color: rgb(54, 54, 54);
}
.contact2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: 'Ibarra Real Nova', serif;
  color: white;
}
.contacttitle {
  text-transform: uppercase;
  font-family: 'Ibarra Real Nova', serif;
  color: white;
}
.fab {
  font-size: 30px;
  color: white;
}
.fas {
  font-size: 30px;
  color: white;
}
.fab:hover {
  color: purple;
}
.fas:hover {
  color: purple;
}
.contacttext {
  font-family: 'Ibarra Real Nova', serif;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
}
.contacttext:hover {
  color: purple;
  font-size: 20px;
  text-decoration: none;
}
.linktext {
  font-family: 'Ibarra Real Nova', serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.linktext:hover {
  color: purple;
  font-size: 20px;
  text-decoration: none;
}
.line {
  width: 40%;
  /* background-color: rgb(99, 25, 89) !important; */
  background-color: white;
  height: 3px !important;  
}
#navbar2 {
  margin-top: -90px;
}
.contacttext2 {
  font-family: 'Ibarra Real Nova', serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.contacttext2:hover {
  color: purple;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 14px;
  padding-top: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 420px) {
  /* NAVBAR */
  #navbarNav {
    padding-left: 0px;
  }
  /* OPENING */
  .center {
    font-size: 60px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ibarra Real Nova', serif;
  }
  .image1 {
    height: 500px;
  }
  /* BIO */
  .about {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bio {
    border-left: solid 1px purple;
    border-right: solid 1px purple;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    word-spacing: -1px;
  }
  .description {
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Alegreya', serif;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    color: white;
  }
  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  #headshot {
    width: 240px;
    align-content: center;
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding-top: 0px;
  }
  .photog {
    margin-bottom: 30px;
  }
  /* PARALLAX */
  .parallax {
    background-attachment: scroll;
    height: 390px;
  }
  /* STATEMENT */
  #photo1 {
    padding-top: 10px;
    margin-bottom: 20px;
    width: 250px;
  }
  .pic3 {
    width: 250px;
  }
  .statement {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
    height: auto;
  }
  .state {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    word-spacing: -3px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
  }
  .textquote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .click {
    padding-left: 70px;
    word-spacing: 1px;
  }
  /* CHOREO */
  .title2 {
    height: 200px;
  }
  .title3 {
    padding-top: 80px;
    font-size: 30px;
  }
  .choreo {
    padding: 0px 20px 60px 20px;
  }
  .performance {
    padding: 0px 20px 60px 20px;
  }
  .videotext {
    margin-top: -50px;
    margin-bottom: 0px;
  }
  iframe {
    max-width: 300px;
  }
  #title4 {
    padding-top: 80px;
    font-size: 30px;
  }
  /* CONTACT */
  #contact {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact {
    margin-bottom: 0px;
  }
  #navbar2 {
    margin-top: -90px;
  }
  .animation-element.slide-left,
  .animation-element.slide-left:nth-of-type(odd),
  .animation-element.slide-left:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .animation-element.slide-left.testimonial .right,
  .animation-element.slide-left.testimonial .left,
  .animation-element.slide-left.testimonial .content,
  .animation-element.slide-left.testimonial .rating{
    text-align: center;
    float: none;
  }
  .animation-element.slide-left.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
  }
  #navbar2 {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
  .center {
    font-size: 55px;
  }
  #headshot {
    width: 200px;
    height: auto;
  }
  #photo1 {
    width: 200px;
    height: auto;
  }
  .pic3 {
   width: 200px;
   height: auto;
  }
  .click {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #navbarNav {
    padding-left: 20px
  }
  .image1 {
    width: 100%;
  }
  .center {
    font-size: 50px;
  }
  .state {
    font-size: 18px;
  }
  .click {
    padding-left: 200px;
  }
  #photo1 {
    width: 220px;
    height: auto;
  }
  .pic3 {
   width: 220px;
   height: auto;
  }
}
